/*----------------- MIN-WIDTH-320PX----------------- */

@media screen and (min-width: 320px) {
  .container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .customers-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
  }
  .footer-box-soc {
    margin-bottom: 72px;
  }
  .team-soc-list-menu {
    gap: 24px;
  }
  .customers-link {
    width: 190px;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    width: 320px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-min-2x.jpg);
  }
}

/* ----------------MAX-WIDTH-479PX--------------- */

@media screen and (max-width: 479px) {
  .input-email {
    width: 290px;
  }
  .menu-nav-tel {
    font-size: 26px;
  }
  .modal-wrap-check {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .modal {
    width: 320px;
  }
}

/* --------------------MIN-WIDTH-480PX----------------------------- */

@media screen and (min-width: 480px) {
  .customers-page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
    flex-direction: row;
  }
  .input-email {
    width: 398px;
  }
  .content-text {
    width: 356px;
    margin: 0 auto;
  }
  .modal {
    width: 392px;
  }
  .team-soc-list-menu {
    gap: 56px;
  }
}
/*------------------------ MIN-WIDTH-768PX------------------------ */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer-box-content {
    width: 582px;
  }
  .footer-wrap {
    margin-bottom: 0;
  }
  .footer-box-soc {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
  }
  .form-email {
    display: flex;
  }
  .input-email {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .menu {
    display: none;
  }
  .menu-open {
    display: none;
  }
  .header {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 1px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
      0px 1px 6px rgb(46 47 66 / 8%);
  }
  .address-nav {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
  }
  .page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 42px;
    max-width: 497px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-content {
    padding-bottom: 96px;
  }
  .content-list {
    width: 356px;
  }
  .content-title {
    text-align: start;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 632px) {
  .customers-page {
    column-gap: 24px;
  }
  .customers-link {
    width: 168px;
  }
}

/*-------------------- MAX-WIDTH-767PX--------------------- */

@media screen and (max-width: 767px) {
  .footer-soc-section {
    text-align: center;
    margin-bottom: 72px;
  }
  .footer-text {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .footer-page {
    text-align: center;
  }
  .footer-subscribe {
    display: block;
    text-align: center;
  }
  .footer-submite {
    margin: 0 auto;
  }
  .header-list {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
  .team-soc-list-menu {
    display: flex;
    justify-content: left;
  }
  .team-soc-wrap-menu {
    width: 40px;
    height: 40px;
  }
  .team-socs-menu {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition);
  }
  .team-socs-menu:hover,
  .team-socs-menu:focus {
    background-color: var(--light-blue);
  }

  .address-list {
    display: none;
  }
  .footer-submite {
    margin: 0 auto;
  }
  .content {
    row-gap: 72px;
  }
}

@media screen and (max-width: 1158px) {
  .modal {
    min-height: 586px;
    background: var(--white-modal);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
  }
  .modal-title {
    max-width: 340px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1158px) {
  .address-link:nth-child(1) {
    margin-bottom: 12px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
}

/*-------------------- WIDHT-1200PX------------------- */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .customers-link {
    max-width: 168px;
  }
  .header-container {
    display: flex;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--back-color);
    transition: color var(--transition);
  }
  .header-nav:hover {
    color: var(--light-blue);
  }

  .header-nav:focus {
    color: var(--light-blue);
  }

  .header-list-soc {
    position: relative;
  }

  .header-position {
    color: #404bbf;
  }

  .header-position::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    left: 0;
    bottom: -25px;
    background-color: var(--light-blue);
    border-radius: 2px;
  }
  .address {
    font-style: normal;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .header-address:hover,
  .header-address:focus {
    color: var(--light-blue);
  }

  .address-nav {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-black);
    transition: color var(--transition);
  }

  .address-nav:hover {
    color: var(--light-blue);
  }
  .address-nav:focus {
    color: var(--light-blue);
  }
  .page {
    padding: 188px 0;
    max-width: 1440px;
  }
  .section-content {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .content {
    display: flex;
  }
  .content-image {
    display: flex;
    justify-content: center;
    background-color: var(--black-white);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 0;
  }
  .content-list {
    width: 264px;
    margin-right: 24px;
  }
  .content-svg {
    display: flex;
    width: 64px;
    height: 64px;
  }
  .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--back-color);
    text-align: start;
  }
  .content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-black);
    width: 264px;
  }

  .team {
    padding: 120px 0;
  }
  .list-color {
    margin-bottom: 0;
  }

  .section {
    padding: 120px 0;
  }
  .customers-list {
    width: 168px;
    height: 88px;
  }

  .customers-page {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  .img-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--back-color);
  }

  .img-title {
    margin-bottom: 72px;
  }

  .foto {
    width: calc(100% - 48px) / 3;
    display: flex;
    gap: 24px;
  }

  .image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-container {
    display: block;
    padding-bottom: 120px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-box {
    display: flex;
  }
  .footer-box-soc {
    gap: 0;
    margin-bottom: 0;
  }
  .footer-soc-section {
    width: 264px;
    height: 112px;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 0;
  }
  .footer-subscribe {
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 80px;
  }
  .modal {
    width: 392px;
    height: 586px;
    background: var(--white-modal);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
  }
}
